@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  :root{
    --bg : #2F5AF4;
    --text : #fff;
    --subtext : #ffffffad;
    --input : #4c6fef;

  }
}

@media (prefers-color-scheme: dark){
  :root{
    --bg : #1D2837;
    --text : #fff;
    --subtext : #ffffffad;
    --input : #2c3d55;
  }
}

body{
  background: var(--bg);
  color: var(--text);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  gap: 10px;
  min-height: 100vh;
  padding: 20px;
  font-family: 'Rubik';
}

.subtext{
  color: var(--subtext);
  font-weight: 300;
  font-size: 14px;
  margin: 10px 0;
}

.title{
  padding-bottom: 10px;
  border-bottom: 1px solid #c3c3c3;
}

.input {
  display: flex;
}

input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 60px;
  height: 25px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 2.5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: var(--input);
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: #5cb85c;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 25px;
}

.settings{
  display: flex;
  justify-content: space-between;
  align-items: center;
}